[Unit]
Description=Apache Hadoop YARN NodeManager Service
After=network.target

[Service]
Type=forking
User={{ yarn_user }}
Group={{ hadoop_group }}
Environment="JAVA_HOME=/usr/java/default"
EnvironmentFile=/etc/profile.d/hadoop_env.sh
ExecStart=/usr/hdp/current/hadoop-mapreduce-historyserver/sbin/mr-jobhistory-daemon.sh --config $HADOOP_CONF_DIR start historyserver
ExecStop=/usr/hdp/current/hadoop-mapreduce-historyserver/sbin/mr-jobhistory-daemon.sh --config $HADOOP_CONF_DIR stop historyserver
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target