#
# Hadoop Service - Hive
#

# User which will own the Hive services.
HIVE_USER="{{ hive_user }}"

# Directory to store the Hive configuration files.
HIVE_CONF_DIR="{{ hive_conf_dir }}"

# Directory to store the Hive logs.
HIVE_LOG_DIR="{{ hive_log_dir }}"

# Directory to store the Hive process ID.
HIVE_PID_DIR="{{ hive_pid_dir }}"
