[Unit]
Description=Apache ZooKeeper

[Service]
Type=forking
ExecStart={{ zookeeper_home_dir }}/bin/zkServer.sh start
ExecStop={{ zookeeper_home_dir }}/bin/zkServer.sh stop
User={{ zookeeper_user }}
Group={{ hadoop_group }}

[Install]
WantedBy=multi-user.target